<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-sm-12 text-center'>
      <div class='avatar shadow-z-2'>
        <div class='overlay' id='change-avatar'>
          <i class='fa fa-plus'></i>
        </div>
      </div>
      <%= form_for @user.class.base_class.name, url: upload_avatar_path, method: 'post', html: { id: 'avatar-form' } do |f| %>
        <%= f.file_field :avatar, class: 'avatar-file-field hide' %>
        <%= button_tag type: 'submit', class: 'btn btn-success upload-avatar hide' do %>
          <i class='fa fa-cloud-upload'></i> Upload Avatar
        <% end %>
      <% end %>
      <h2 style='margin: 15px 0;'><%= @user.full_name %></h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-sm-12'>
      <div class='well well-lg'>
        <div class='text-center'>
          <h4>Get started by adding a storage location you're renting out.</h4>
          <%= link_to '#', class: 'btn btn-material-indigo btn-raised btn-lg', data: { toggle: 'modal', target: '#unit-modal' } do %>
            <i class='fa fa-plus-circle'></i> Add Unit
          <% end %>
        </div>
        <%= render 'units/form_modal', unit: @user.units.new %>
      </div>
    </div>
  </div>
</div>

<style>
  .avatar { background: url(<%= @user.avatar.url(:medium) %>) no-repeat; }
</style>
