<%= provide(:title, 'Edit Profile') %>
<div class='container'>
  <div class='row'>
    <div class='col l6 offset-l3 m8 offset-m2 s12'>
      <div class='row'>
        <div class='col s12'>
          <h4 class='center-align'>Edit Profile</h4>
          <div class='card'>
            <div class='card-content'>
              <%= generate_form_errors(resource.errors) if resource.errors.any? %>
              <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
                <div class='row'>
                  <div class='input-field col l6 m6 s12'>
                    <%= f.text_field :first_name, autofocus: true %>
                    <%= f.label      :first_name, 'First Name', class: 'active' %>
                  </div>
                  <div class='input-field col l6 m6 s12'>
                    <%= f.text_field :last_name %>
                    <%= f.label      :last_name, 'Last Name' %>
                  </div>
                </div>
                <div class='row'>
                  <div class='input-field col s12'>
                    <%= f.email_field :email %>
                    <%= f.label       :email %>
                  </div>
                </div>
                <div class='row'>
                  <div class='input-field col s12'>
                    <%= f.password_field :password, autocomplete: 'off' %>
                    <%= f.label          :password, 'New Password (Leave Blank to Not Change)' %>
                  </div>
                </div>
                <div class='row'>
                  <div class='input-field col s12'>
                    <%= f.password_field :current_password, autocomplete: 'off' %>
                    <%= f.label          :current_password, 'Current Password (To Confirm Changes)' %>
                  </div>
                </div>
                <div class='row'>
                  <div class='col s12 right-align'>
                    <%= button_tag 'Submit', type: 'submit', class: 'waves-effect waves-light btn orange' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class='center-align'><small><%= link_to 'Cancel', current_user %></small></div>
        </div>
      </div>
    </div>
  </div>
</div>
