<div>
  <div class='cover-image'>
    <div class='center-align'>
      <div class='cover-primary'>
        <div id='cover-text-a'>Robert<b>Scott</b></div>
        <div id='cover-text-b'>Entertaining Short Videos</div>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <% @videos.in_groups_of(3, false) do |videos| %>
    <div class='row'>
      <% videos.each do |video| %>
        <div class='col l4 m8 offset-m2 s12'>
          <div class='card'>
            <div class='card-image waves-effect waves-block waves-light'>
              <%= image_tag video.thumb_url, class: 'activator' %>
            </div>
            <div class='card-content'>
              <span class='card-title activator grey-text text-darken-4'>
                <span class='truncate inline-block'><%= video.title %></span>
                <i class='mdi-navigation-more-vert right'></i>
              </span>
            </div>
            <div class='card-reveal'>
              <span class='card-title grey-text text-darken-4'>
                 <span class='truncate inline-block'><%= video.title %></span>
                 <i class='mdi-navigation-close right'></i>
              </span>
              <p><%= video.description %></p>
              <div class='card-button center-align'>
                <%= link_to icon('youtube-play', 'Play on YouTube'), youtube_url(video.video_id), 
                  class: 'waves-effect waves-light btn red white-text', target: '_blank' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
