<div>
  <div class='cover-image'>
    <div class='center-align'>
      <div class='cover-primary'>
        <div id='cover-text-a'>Robert<b>Scott</b></div>
        <div id='cover-text-b'>Entertaining Short Videos</div>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col s12 m8 offset-m2 l6 offset-l3'>
      <div class='card-panel grey lighten-5 z-depth-1'>
        <div class='row valign-wrapper' style='margin-bottom: 0;'>
          <div class='col s2'>
            <%= image_tag 'https://lh3.googleusercontent.com/-ApmkKRriEl8/AAAAAAAAAAI/AAAAAAAAAAA/YPy3ezELuqc/s92-c-k-no/photo.jpg',
              class: 'circle responsive-img' %>
          </div>
          <div class='col s10'>
            <span class='black-text'>
              Thanks for checking out our videos, hope you like them. We have more coming soon...
              <div class='right-align grey-text'>- Robert<b>Scott</b></div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% @videos.in_groups_of(3, false) do |videos| %>
    <div class='row'>
      <% videos.each do |video| %>
        <div class='col l4 m8 offset-m2 s12'>
          <div class='card'>
            <div class='card-image waves-effect waves-block waves-light'>
              <%= image_tag video.thumb_url, class: 'activator' %>
            </div>
            <div class='card-content'>
              <span class='card-title activator grey-text text-darken-4'>
                <span class='truncate inline-block'><%= video.title %></span>
                <i class='mdi-navigation-more-vert right'></i>
              </span>
            </div>
            <div class='card-reveal'>
              <span class='card-title grey-text text-darken-4'>
                 <span class='truncate inline-block'><%= video.title %></span>
                 <i class='mdi-navigation-close right'></i>
              </span>
              <%= link_to icon('youtube-play', 'Play'), '#video-modal', 
                data: { video_id: video.video_id, video_title: video.title },
                class: 'waves-effect waves-light btn red white-text modal-trigger' %>
              <p>
                <%= video.description %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class='divider'></div>
  <div class='row center-align' style='margin: 40px 0;'>
    Rate, Comment, and <span class='inline-subscribe-button'><%= subscribe_button %></span>
  </div>
  <div class='divider'></div>
</div>

<%= render 'player_modal' %>
