<%= provide(:title, 'Sign In') %>
<div class='container'>
  <div class='row'>
    <div class='col l6 offset-l3 m8 offset-m2 s12'>
      <div class='row'>
        <div class='col s12'>
          <h4 class='center-align'>Sign In</h4>
          <div class='card'>
            <div class='card-content'>
              <%= form_for resource, as: resource_name, url: session_path(resource_name), remote: true do |f| %>
                <div class='row'>
                  <div class='input-field col s12'>
                    <i class='mdi-communication-email active prefix'></i>
                    <%= f.email_field :email, autofocus: true %>
                    <%= f.label       :email, class: 'active' %>
                  </div>
                </div>
                <div class='row'>
                  <div class='input-field col s12'>
                    <i class='mdi-action-lock prefix'></i>
                    <%= f.password_field :password, autocomplete: 'off' %>
                    <%= f.label          :password, 'Password' %>
                  </div>
                </div>
                <div class='row'>
                  <div class='col s12 right-align'>
                    <%= button_tag 'Sign In', type: 'submit', class: 'waves-effect waves-light btn red' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class='center-align'>
            <small class='block'><%= link_to 'Forgot your password?', new_password_path(resource) %></small>
            <small class='block' style='margin-top:5px;'>Not a member? <%= link_to 'Sign up', new_user_registration_path %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
