<!DOCTYPE html>
<html lang='en' prefix='og: http://ogp.me/ns# website: http://ogp.me/ns/website#'>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'https://lh3.googleusercontent.com/-ApmkKRriEl8/AAAAAAAAAAI/AAAAAAAAAAA/YPy3ezELuqc/s92-c-k-no/photo.jpg' %>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <%= content_for :head %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <main>
      <%= yield %>
    </main>

    <% render 'layouts/google_analytics' %>
    <% render 'layouts/footer' %>
  </body>
</html>
