<!DOCTYPE html>
<html>
<head>
  <title>StoreItFor.Me</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>
  <%= render 'layouts/signin_modal' %>

  <%= render 'layouts/flash' %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

</body>
</html>
